.header {
	// position: relative;

	.titleDiv {
		padding: 20px 30px;
		// text-align: center;

		.myImage {
			border-radius: 50%;
			max-width: 300px;
			width: 25%;
			height: auto;
			margin: 5px 50px 20px 35px;
			vertical-align: middle;
		}

		.headerTitle {
			display: inline-block;
			font-weight: bolder;
			vertical-align: middle;
		}
	}

	.socialIcons {
		text-align: right;
		.icon {
			margin: 5px;
		}
	}
}
